.img-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.img-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.snowflake {
  background-color: aliceblue;
}

.sun {
  background-color: orange;
}

.season-display.snowflake i {
  color: rgb(10, 28, 133);
}

.season-display.sun i {
  color: rgb(175, 4, 4);
}

.season-indicator {
  font-size: 3rem;
}
